* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --dark-blue: #19202D;
  --white: #FFFFFF;
  --grey-100: #E7EAEE;
  --grey-200: #CFCFCF;
  --grey-400: #676D7E;
  --grey-500: #48556A;
  --purple-50: #EDE4FF;
  --purple-300: #A775F1;
  --purple-500: #733FC8;

  --spacing-500: 2.5rem;  /* 40px */
  --spacing-400: 2rem;    /* 32px */
  --spacing-300: 1.5rem;  /* 24px */
  --spacing-200: 1rem;    /* 16px */
  --spacing-100: 0.5rem;  /* 8px */
  --spacing-50: 0.25rem;  /* 4px */
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
}

.text-preset-1 {
  font-size: 1.25rem;  /* 20px */
  line-height: 1.2;
}

.text-preset-2 {
  font-size: 0.8125rem;  /* 13px */
  line-height: 1.1;
}

.text-preset-3 {
  font-size: 0.8125rem;  /* 13px */
  line-height: 1.4;
}

.text-preset-4 {
  font-size: 0.6875rem;  /* 11px */
  line-height: 1.1;
}